<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (orders.length > 0) { %>
                <ul>
                    <% orders.forEach(order => { %>
                        <li>
                            <h2># <%= order.id %> </h2>
                            <ul>
                                <% order.products.forEach(product => { %>
                                    <li>
                                        <%= product.title %> ( x<%= product.orderItem.qty %>  ) 
                                    </li>
                                <% }) %>
                            </ul>
                        </li>
                    <% }) %>
                </ul>
            <% } else { %>
                <h2> No Orders !!!</h2>
            <% }  %>
        </main>
        <%- include('../includes/end.ejs') %>